/* ____________________________________________________________________Containers_________________________________________________________ */

.container {
    width: 1600px;
    margin: 0 auto;
}

.encadrement {
    width: 600px;
}

body {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    min-width: 267px;
}
/* ____________________________________________________________________Header_____________________________________________________________ */


#flex-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: auto;
    padding: 30px 0;
}

#flex-header p {
    margin-top: auto;
    padding-left: 5px;
}

/* ____________________________________________________________________Section_____________________________________________________________ */

#flex-section {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: center;
    justify-content: space-between;
}

/* ____________________________________________________________________Créations___________________________________________________________ */

#grid-section {
    display: grid;
    grid-template-columns: auto;
    align-items: baseline;
    min-width: 328px;
}
.mid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    column-gap: 25px;
    row-gap: 25px;
    padding-bottom: 30px;
}

.mid a {
    padding: 50px 40px;
}
