@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
body{
    min-width: 375px;
}
.container {
    display: none;
    width: auto;
    margin: 0 auto;
    padding-right: 15px;
    text-align: center;
}
/* Les bouttons */
.start, .rejouer {
    text-align: center;
    margin-top: 20%;
    padding: 50px;

    font-family: Amatic SC;
    font-size: 50px;
    font-weight: bold;
    border: 3px solid #160f0a;
    border-radius: 20px;
}

.mute, .demute{
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #160f0a;
    border-radius: 10px;
}
.mute:hover, .demute:hover{
    transition: 0.3s;
    background-color: brown;
    box-shadow: inset 0px 0px 20px black;
}
.start:hover, .rejouer:hover {
    transition: 0.3s;
    background-color: brown;
    box-shadow: inset 0px 0px 20px black;
    font-size: 47px;
}

.rejouer {
    display: none;
}

.deviner {
    font-family: Amatic SC;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid #160f0a;
    border-radius: 20px;
}

.deviner:hover, .menu:hover {
    transition: 0.3s;
    background-color: brown;
    box-shadow: inset 0px 0px 20px black;
    font-size: 35px;
    margin-right: -29px;
}

.menu, .seriesText {
    font-size: 30px;
    text-decoration: none;
    padding: 1px 16px;
    font-weight: bold;
    border: 3px solid #160f0a;
    border-radius: 20px;
    color: black;
    background-color: brown;
}

.seriesText{
    background-color: green;
    font-size:25px;
}

/* html */
html {
    background-color: #160f0a;
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat:no-repeat;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top{
    width: 1463px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Amatic SC;
    font-size: 20px;
    font-weight: bold;
    margin: -24px;

    
}
header {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;

    background-color: #6e4b32;
    border: 3px solid #160f0a;
}

/* "Nombre d'essais restants:" */
header p {
    padding-right: 8px;
    margin-left: -10px;
    margin-bottom: 3px;
    font-family: Amatic SC;
    font-weight: bolder;
    font-size: 30px;
}

/* "Mot a deviner */
header h1 {
    flex-grow: 0.86;
    font-family: Amatic SC;
    letter-spacing: 5px;
    font-size: 50px;
    margin: 0;
}

/* L'image du pendu */
.imageCentrale img {
    border: 3px solid #160f0a;
    width: 100%;
}

/* Le clavier */
.clavier {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    text-align: center;
    white-space: nowrap;
   

    background-color: rgba(46, 82, 39, 0.3);
    background-size: cover;
    border: 4px solid #160f0a;
    border-radius: 10px;

}

.clavier button {
    margin: 8px;
    width: 80px;
    height: 80px;

    background-image: url(../images/toucheBackground.png);
    background-size: cover;
    color: rgb(36, 124, 36);
    text-shadow: 3px 1px black;
    border: 3px solid #160f0a;
    border-radius: 8px;
    font-size: 40px;
    font-weight: bold;

}

.clavier button:hover {
    transition: 0.1s;
    box-shadow: inset 0px 0px 4px 2px black;
}