@media all and (max-width:1603px) {
    .container {
        width: auto;
        padding-left: 10px;
    }

}
@media all and (max-width:1488px){
    .body-contact {
        background-size: contain;
    }
}
.tarte-presentation img {
    width: 99%;
    border: 3px solid white;
    border-radius: 10px;
}

@media all and (max-width:1127px) {
    .mid {
        grid-template-columns: repeat(4, 1fr);
    }

    .mid a:nth-of-type(1) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        min-width: 262px;
    }

    .mid a:nth-of-type(2) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        min-width: 250px;
    }

    .mid a:nth-of-type(3) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .mid a:nth-of-type(4) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #flex-section {
        display: inline;
        text-align: center;
        justify-content: space-between;
    }

    .droite-presentation img {
        width: 60%;
    }
}

@media all and (max-width:766px) {
    .mid {

        grid-template-columns: 1fr;
    }

    .mid a:nth-of-type(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .mid a:nth-of-type(2) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .mid a:nth-of-type(3) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .mid a:nth-of-type(4) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
@media all and (max-width:564px){
    .container-contact{
        width: auto;
       margin: 0; 
    }
}
@media all and (max-width:490px){
    #contact {
    background-size: contain;}
}
@media all and (max-width:366px) {
    #flex-header p {
        display: none;
    }
    .prenom, .nom, .mail{
        display: flex;
        flex-direction: column;
    }
    .gold {
        margin: auto;
        display: flex;
    }

    .gold a {
        padding: 0px 38px;
    }

    .nav-pink {
        margin: auto;
        display: flex;
    }

    .nav-pink a {
        padding: 0px 30px;
    }

    .nav-gold {
        margin: auto;
        display: flex;
    }

    .nav-gold a {
        padding: 0px 30px;
    }
    .body-contact{
        background-size: contain;
        background-attachment: fixed;
       
    }
}