/* Settings */

@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+NKo+Unjoined:wght@600&display=swap');

.container{
        width: 1600px;
        margin:  0 auto;
        
        
}
body{
    margin: 0 auto;
    height: 100%;
    background-color:#000000;
    display: grid;
    grid-template-rows: auto, auto, auto, 1fr;
    
}

html {
    height: 100%;
    
}
/* Header */
 
#flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: auto;
    font-family: Gelasio;
    color: whitesmoke;
    font-size: 20px;
    padding: 30px 0;
    text-shadow: 2px 2px 2px #000000;
    
}

.gold a{
    text-decoration: none;
    color: whitesmoke;
    padding: 0px 10px;
    text-align: center;
    
}
.nav-pink a{
    text-decoration: none;
    color: whitesmoke;
    padding: 0px 10px;
    text-align: center;
}

.gold a:hover{
 margin-left: -4px;
 box-shadow: inset 0px 0px 10px 2px black;
 border: 1px solid rgb(143, 138, 138);
 border-radius: 10px;
 background-color:  rgb(141, 137, 137);
 color: #191b1d;
 text-shadow: 0px 0px 0px #000000;
}
.nav-pink a:hover{
    margin-left: -4px;
    box-shadow: inset 0px 0px 3px 2px black;
    border: 2px solid #ef9595;
    border-radius: 10px;
    background-color: #ef9595;
    color: #f8c8ae;
    text-shadow: 2px 1px 1px #000000;
}
/* centre du site */
#flex-section{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: center;
    justify-content: space-between;
    
}
#flex-section h1{
    font-family: Gelasio;
    font-size: 60px;
    color: whitesmoke;
    margin: auto;
    text-shadow: 3px 3px 2px #000000;
}
#flex-section p{
    font-family: Inter;
    color: whitesmoke;
}
/* Les éléments du Portfolio */
#grid-section{
    background-color: rgb(255, 254, 254);
    display: grid;
    grid-template-columns: 1fr;
    align-items: baseline;
}

.top h1{
    font-family: Noto Sans NKo Unjoined;
    font-size: 30px;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: auto;
    
}
.top p{
    text-align: center;
    font-family: Inter;
}

.mid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    column-gap: 25px;
    row-gap: 25px;
    padding-bottom: 30px;
    
}

.mid a{
    text-decoration: none;
    padding: 50px 40px;
    border-radius: 10px;
    font-family: Inter;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 1px 3px 2px black;
}


.mid a:nth-of-type(1){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    min-width: 262px;
    background-image: url(images/reine-des-tartes-mini.png);
    background-size: cover ;
    background-repeat: no-repeat;
}
.mid a:nth-of-type(2){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(images/rodeo-pump.png);
    background-size: cover;
}
.mid a:nth-of-type(3){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(images/pac-man.png);
    background-size: cover;
}
.mid a:nth-of-type(4){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url(images/mega-pop.png);
    background-size: cover;
}
.bottom{
    background-color:black ;
}
.bottom h1{
    font-family: Noto Sans NKo Unjoined;
    font-size: 30px;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: auto;
    color: white;
    
}
.bottom p{
    text-align: center;
    font-family: Inter;
    font-weight: bold;
    padding-bottom: 20px;
    color: white;
}
.bottom a{
    text-align: center;
    text-decoration: none;
    background-color: white;
    padding: 20px 40px;
    color: black;
    border: 2px solid black;
}
/* Footer */
footer{
    grid-row-start: 4;
    background-color: black;
    font-family: Inter;
    font-size: 20px;
    color: white;
    padding-top: 7px;
    text-shadow: 0px 0 2px black;
    font-weight: bold;
    letter-spacing: -1px;
  text-align: center;
    padding-right: 10px;
}
/* Style reines-des-tartes.html */
.background{
    background-image: url(images/Reine-des-tartes-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.tarte-presentation img{
    width: 100%;
    border: 3px solid white;
    border-radius: 10px;

    /* Responsive */
 }

@media all and (max-width:1603px){
    .container{
        width: auto;
        padding-left: 10px;
    }
        
    }
     .tarte-presentation img{
        width:99%;
        border: 3px solid white;
        border-radius: 10px;
     }    

@media all and (max-width:1127px){
    .mid{
        grid-template-columns: repeat(4,1fr);
    }
    .mid a:nth-of-type(1){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        min-width: 262px;
        background-image: url(images/reine-des-tartes-mini.png);
        background-size: cover ;
        background-repeat: no-repeat;
    }
    .mid a:nth-of-type(2){
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        min-width: 250px;
        background-image: url(images/rodeo-pump.png);
        background-size: cover;
    }
    .mid a:nth-of-type(3){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url(images/pac-man.png);
        background-size: cover;
    }
    .mid a:nth-of-type(4){
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url(images/mega-pop.png);
        background-size: cover;}
#flex-section{
    display: inline;
    text-align: center;
    justify-content: space-between;
}
.droite-presentation img{
    width: 60%;
}
}
@media all and (max-width:766px){
    .mid{

       grid-template-columns: 1fr;
    }
    .mid a:nth-of-type(1){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-image: url(images/reine-des-tartes-mini.png);
        background-size: cover ;
        background-repeat: no-repeat;
    }
    .mid a:nth-of-type(2){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url(images/rodeo-pump.png);
        background-size: cover;
    }
    .mid a:nth-of-type(3){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        background-image: url(images/pac-man.png);
        background-size: cover;
    }
    .mid a:nth-of-type(4){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        background-image: url(images/mega-pop.png);
        background-size: cover;}
}